@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bun venit la PetMatch</h1>
    <p>Locul unde prietenii necuvântători își găsesc o casă.</p>
</div>